* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 470px;
    height: auto;
    margin: auto;
    padding:40px;
    background: lightblue;
    top:50%;
    left:50%; 
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 6px;
}

.buttons {
    overflow: hidden;
}

/* Clear floats */
.buttons, .top { 
    overflow: hidden;
}


.buttons span, .top span.clear-btn {
    float:left;
    position: relative;
    top:0;
    width: 90px;
    height: 60px;
    background: white;
    border-radius: 3px;
    margin: 0 8px 12px 0;
    line-height: 60px;
    text-align: center;
    
    /* Style text */
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Courier New, Courier, monospace;

}

span.operator {
    margin-right: 0;
}

.top .clear-btn {
    float: left;
}

.top .view-screen {
    height: 58px;
    width: 288px;
    background-color: rgba(0, 0, 0, 0.3);
    float:left;
    padding: 0 10px;
    border-radius: 3px;
    
    /* Font related CSS */
    font-size: 30px;
    line-height: 50px;
    color: white;
    text-align: right;
    
}
/* Styling buttons */
.buttons span.operator {
    background: #ff6666;
    margin-right:0;
}

.buttons span.equals {
    background: #8cff1a;
}

.top span.clear-btn {
    background:  #8080ff;

}